@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-roboto);
  background-color: #212426;
}
.container{
  @apply   grid gap-10 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 m-7;
}
.card{
  @apply relative flex-1 border-2 rounded-xl h-80 xs:w-72 sm:w-64 md:w-56;
}